include ../components/tomography-button/tomography.pug

section(
  class="se_4" 
  v-show="store.currentPage == 4"
  v-effect="if(store.currentPage == 4) store.modalClassActual = 'tomography' "
)
  .se_4__content
    .timeline
      .timeline__header 
        button(
          v-for="(val, index) in store.listTab"
          type="button"
          class="timeline__tab"
          :class="{ active: store.currentTab == index }"
          @click="store.setTab(index)"
        ) {{ val.year }}
      .timeline__main

        .timeline__tomography 
          div(
            class="timeline__tomography-item" 
          )
            +tomography-button('mrt.png', 'mrt')
            span МРТ

          div(
            class="timeline__tomography-item" 
            v-if="store.sledAvailabilityInYears.includes(store.listTab[store.currentTab].year)"
          )
            +tomography-button('mrt_2.svg', 'sled')
            span Исследование 
        
        div(class="timeline__main-wrap" v-html="store.listTab[store.currentTab].html")
        //- .timeline__main-wrap

        //-   h4 Весна
        //-   ul.low-margin 
        //-     li Весна 2021 года (EDSS=5.5) – диагностирован ВПРС. На основании жалоб, анамнестических сведений, данных неврологического осмотра и дополнительных методов обследования поставлен диагноз: Рассеянный склероз, вторично прогрессирующее течение, без обострений, стабилизация.
          
        //-   h4 Март 
        //-   ul.low-margin 
        //-     li EDSS 5,5

        //-   h4 Июль 
        //-   ul.low-margin 
        //-     li EDSS 5,5 (выставлен по 6мППИ: отмечено усиление неврологического дефицита с 4,5 до 5,5 баллов за 6 месяцев при отсутствии обострений).


        //- .timeline__main-wrap
        //-   ul
        //-     li(v-for="val in store.listTab[store.currentTab].ul") {{ val }}

        //-   div(class="timeline__desc" v-if="store.listTab[store.currentTab].desc") 
        //-     p {{ store.listTab[store.currentTab].desc }}

        //- p(
        //-   class="timeline__footnote"
        //-   v-if="store.listTab[store.currentTab].footnote"
        //- ) {{ store.listTab[store.currentTab].footnote }}