include ../components/tomography-button/tomography.pug

section(
  class="se_4" 
  v-show="store.currentPage == 4"
  v-effect="if(store.currentPage == 4) store.modalClassActual = 'tomography' "
)
  .se_4__content
    .timeline
      .timeline__header 
        button(
          v-for="(val, index) in store.listTab"
          type="button"
          class="timeline__tab"
          :class="{ active: store.currentTab == index }"
          @click="store.setTab(index)"
        ) {{ val.year }}
      .timeline__main

        .timeline__tomography 
          div(
            class="timeline__tomography-item" 
          )
            +tomography-button('mrt.png', 'mrt')
            span МРТ

          div(
            class="timeline__tomography-item" 
            v-if="store.sledAvailabilityInYears.includes(store.listTab[store.currentTab].year)"
          )
            +tomography-button('mrt_2.svg', 'sled')
            span Исследование 

        .timeline__main-wrap
          ul
            li(v-for="val in store.listTab[store.currentTab].ul") {{ val }}

          div(class="timeline__desc" v-if="store.listTab[store.currentTab].desc") 
            p {{ store.listTab[store.currentTab].desc }}

        p(
          class="timeline__footnote"
          v-if="store.listTab[store.currentTab].footnote"
        ) {{ store.listTab[store.currentTab].footnote }}