- 
  var listAnaliz = {
    'required': [
      { 
        img: 'az_1.png',
        title: 'Генотипирование по изоферменту CYP2C9 ',
        text: 'с целью определения метаболического статуса.'
      },
      { 
        img: 'az_2.png',
        title: 'Оценка состояния сердечно-сосудистой системы.',
        text: ''
      },
      { 
        img: 'az_3.png',
        title: 'AcАТ, АлАТ, билирубин.',
        text: 'За последние 6 месяцев. В клинических исследованиях применение препарата прекращали при увеличении показателей >3 ВГН и наличии симптомов, связанных с функцией печени.'
      },
      { 
        img: 'az_4.png',
        title: 'Тест на беременность ',
        text: ''
      },
      { 
        img: 'az_5.png',
        title: 'ОАK за последние 6 месяцев',
        text: 'Получающие 2 мг АКЛ <0,2 х 10*9/л снижение дозы до 1 мг.\n Получающие 1 мг АКЛ <0,2 х 10*9/л прерывание терапии, пока уровень не достигнет 0,6 х 10*9/л.'
      }
    ],
    'special' : [    
      { 
        img: 'az_6.png',
        title: 'Перед началом терапии',
        text: 'и по окончании периода наблюдения у пациентов с синусовой брадикардией (ЧСС < 55 уд / мин), АВ-блокадой первой или второй степени (Мобитц I), или инфарктом миокарда в анамнезе, или сердечной недостаточностью (пациенты с сердечной недостаточностью I или II степени по классификации Нью-Йоркской кардиологической ассоциации) в анамнезе'
      },
      { 
        img: 'az_7.png',
        title: 'У пациентов с сахарным диабетом, увеитом в анамнезе',
        text: 'рекомендуется проводить офтальмологическое обследование до начала и во время терапии препаратом Кайендра.'
      },
      { 
        img: 'az_8.png',
        title: 'Пациентов, у которых отсутствуют документально подтвержденные данные о перенесенной ветряной оспе или о полном курсе вакцинации против VZV,',
        text: 'следует обследовать для выявления антител к VZV перед началом терапии. '
      }
    ]
  }

div(
  class="modal-mask"
  ref="maskRef" 
  v-if="store.showModal" 
  @click="store.onMaskClick" 
  v-effect="store.mask = $refs.maskRef"
)
  //- убрать модаль биг
  div(
    class="modal"
    :class="store.modalClassSize()"
    role="dialog" 
    :aria-modal="store.showModal" 
  )
    //- Содержимое модального окна
    include ../components/modal/modal-tomography.pug
    include ../components/modal/modal-shema.pug

    button(
      class="modal__close" 
      type="button" 
      aria-label="close" 
      @click="store.closeModal()"
    )
      .modal__close-right
      .modal__close-left